<html>
<head><title>HADOKEN!</title></head>
<body>
    <h1>Hi there!</h1>
    <p>Here's a bunch of stuff being sent from the server:</p>

    <script type="text/javascript" charset="utf-8">
        document.domain = "localhost.com";

        // not ideal communication, fix tmrw
        window.hadoken = {
            host: '{hadoken_host}',
            path: '{hadoken_path}',
            port: '{hadoken_port}',
            init: function() {
                console.log('hadoken connected, we can now use socket.io');
                hadoken.socket.on('message', function(data){
                    console.log('received message', data);
                });
            }
        };
    </script>

    <script type="text/javascript" charset="utf-8" src="http://{hadoken_host}:{hadoken_port}{hadoken_path}parent.js"></script>
    
    
</body>
</html>